.TitleBox {
  width: 40%;
  padding: 6px 2px;
  margin: 40px 0;
  box-sizing: border-box;
  border: 1px solid rgb(88, 87, 87);
  background-color:rgb(160, 160, 160);
}
.BodyBox {
  width: 40%;
  padding: 6px 2px;
  margin: 4px 3px;
  box-sizing: border-box;
  border: 1px solid rgb(88, 87, 87);
  background-color:rgb(160, 160, 160);
}
input[type=text]:focus {
  background-color:rgb(201, 199, 201);
}
.CreatePostButton {
  background-color:#4CAF50;
  padding: 6px;
  font-size: 20px;
  color:'grey';
  border-radius: 12px;
  border: 2px solid rgb(73, 73, 73);
  box-shadow: 0 8px 16px 0 rgba(148, 112, 112, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  }
  
  
  .CreatePostButton:hover {
    background-color:#008CBA;
    color: white;
  }