.Post{
  width: 60%;
  height:80px;
  background-color: rgb(168, 156, 139);
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: 10%;
  padding: 1%;
}

.SelectedPost {
  padding:1%;
  text-align: end;
}

.DeleteButton {
  display: flex;
  align-items: flex-start;
  background-color: rgb(226, 175, 175);
  width: 70px;
  height: 20px;
}
